BasedOnStyle: Google
ColumnLimit: 0
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: { Enabled: true }
AlignConsecutiveBitFields: { Enabled: true }
AlignConsecutiveDeclarations: { Enabled: true }
AlignConsecutiveMacros: { Enabled: true }
