# 3rd-party codes
include/*.hpp linguist-vendored
display/httpclient.* linguist-vendored
display/flowlayout.* linguist-vendored

# Qt UI
display/*.ui linguist-language=xml
display/*.ui linguist-detectable
